body {
    background-image: url("brick-background-image.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: white;
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: turquoise;
    z-index: 1000;
    border-bottom: 7px solid darkblue;
    width: 100%;

}

#houseIcon {
    height: 100px;
    width: auto;
    margin: 10px;
}

h1 {
    font-size: 50px;
}

.viewLinks {
    display: flex;
    justify-content: center;
    padding: 130px 10px 10px 10px;
    font-size: 25px;
}

.linkButton {
    margin: 0px 20px;
    background-color: rgb(11, 11, 109);
}

.link, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.addListing {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: black;
}

.addListingDiv {
    background-color: paleturquoise;
    padding: 0px 10px;
}

h2 {
    padding: 5px 15px;
    text-align: left;
    font-style: italic;
    font-size: 40px;
}

.forSale, .forRent {
    height: 200px;
    width: 350px;
    background-image: url("purple-bricks.jpg");
    background-position: left top;
    margin: 20px;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.forRent {
    background-image: url("turquoise-bricks.jpg");
    background-position: left top;
}